# -------- Postgres DB --------
DB_USER=your_postgres_username
DB_PASS=your_postgres_password
DB_NAME=your_database_name

# -------- Backend Security --------
JWT_ACCESS_TOKEN=your_jwt_access_token_secret
JWT_REFRESH_TOKEN=your_jwt_refresh_token_secret

# -------- Mail Service (Nodemailer) --------
MAIL_ACCOUNT=your_gmail_account@gmail.com
MAIL_PASSWORD=your_gmail_app_password

# -------- Common --------
TZ=Asia/Ho_Chi_Minh
